jobs:
  build:
    name: Npm install & build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 14.x
      uses: actions/setup-node@v2
      with:
        node-version: 14.x
    - run: npm ci
    - run: npm run build --if-present
  slackNotification:
    name: Slack Notification
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - env:
        SLACK_MESSAGE: ${{github.event.pull_request.user.login}} opened a PR "${{github.event.pull_request.title}}"
          on branch "${{github.event.pull_request.head.ref}}"
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
      name: Slack Notification
      uses: rtCamp/action-slack-notify@v2
  sonarcloud:
    name: Sonarcloud scan
    needs: test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - uses: actions/download-artifact@v1
      with:
        name: code-coverage-report
        path: coverage
    - env:
        GITHUB_TOKEN: ${{ secrets.TOKEN_XPTO }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      uses: SonarSource/sonarcloud-github-action@master
  test:
    name: Npm test & coverage
    needs: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 14.x
      uses: actions/setup-node@v2
      with:
        node-version: 14.x
    - run: npm ci
    - run: npm run coverage
    - name: Archive code coverage results
      uses: actions/upload-artifact@v1
      with:
        name: code-coverage-report
        path: coverage
name: Node.js CI
'on':
  pull_request:
    branches:
    - main
